html {
    height: 100%;
}

body {
    height: 100%;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.big_box {
    border: 7px solid black;
    width: 500px;
    height: 500px;
    position: relative;
}

.circle {
    border: 7px solid black;
    border-radius: 10000px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 93px;
    left: 93px;
}

.mini_box {
    border: 7px solid black;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 102px;
    left: 100px;
}

.mini_box2 {
    border: 7px solid black;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 102px;
    left: 311px;
}

.mini_box3 {
    border: 7px solid black;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 310px;
    left: 311px;
}

.mini_box4 {
    border: 7px solid black;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 310px;
    left: 100px;
}

.half_circle {
    border: 7px solid black;
    border-radius: 35px;
    width: 75px;
    height: 75px;
    position: absolute;
    top: -37px;
    right: 448px;
}

.half_circle2 {
    border: 7px solid black;
    border-radius: 35px;
    width: 75px;
    height: 75px;
    position: absolute;
    top: -37px;
    right: -37px;
}

.half_circle3 {
    border: 7px solid black;
    border-radius: 35px;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 450px;
    right: -37px;

}

.half_circle4 {
    border: 7px solid black;
    border-radius: 35px;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 450px;
    right: 448px;
} 